body {
    font-family: Arial;
    font-size: 12pt;
    margin: 2em;
    background-color: #efefff;
}
h1 {
    font-weight: normal;
    font-size: 20pt;
}
input[type=submit] {
    border: 2px outset #343;
    font-size: 12pt;
    padding: 0.2em 2em;
    margin: 1em;
    background-color: #fffff9;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #ff9;
}
input[type=submit]:active {
    border-style: inset;
    background-color: #ff9;
}
select {
    font-size: 12pt;
    padding: 0.2em 2em;
}
a {
    color: #33c;
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
    color: #007;
}
div.success {
    border: 1px solid #6c6;
    padding: 1em;
    background-color: #efe;
    display: table-cell;
}
div.error {
    border: 1px solid #c66;
    padding: 1em;
    background-color: #fee;
    display: table-cell;
}

/* Table in edit page */
.edit input[type=text] {
    width: 800px;
    border: 1px solid #666;
    font-size: 12pt;
}
.edit td {
    padding: 0.1em 1em;
    border: 1px solid #333;
    background-color: #fff;
}
.edit tr.key td {
    padding: 0.3em 0 0.2em 8em;
    font-weight: bold;
    background-color: #ccf;
}
.edit {
    border-collapse: collapse;
}

/* CSS marker classes */
input.empty {
    background-color: #ffc;
}
input.missing {
    background-color: #fcc;
}